/*-- scss:defaults --*/

$theme-text-color: white;

/*-- scss:rules --*/

/* Display options for tables */
table {
  display: block;
  max-width: 100%;
  overflow: auto;
}
td {
  mid-width: 200px;
}


/* Scrollbar theming */
::-webkit-scrollbar {
    width: 12px; /* Vertical scrollbar width */
    height: 12px; /* Horizontal scrollbar height */
}
::-webkit-scrollbar-track { /* Track (part the thumb slides within) */
    background: $brand-light-blue; 
    border-radius: 10px; /* Rounded corners on the track */
}
::-webkit-scrollbar-thumb { /* Thumb (draggable part of the scrollbar) */
    background-color: $brand-dark-blue;
    border-radius: 10px; /* Rounded corners on the thumb */
    border: 3px solid $brand-light-blue; /* Makes the thumb slightly smaller than the track */
}
::-webkit-scrollbar-thumb:hover { /* Thumb hover effects */
    background-color: $brand-grey-blue;
}
::-webkit-scrollbar-corner { /* Bottom corner of the scrollbar */
    background: $brand-dark-blue; /* Match the track background color */
}


/* Make superscripts in gt table not italic */
.gt_footnote_marks sup {
  font-style: normal;
}

/* Make sure album art in gt table always stays square and maintains aspect ratio */ 
.gt_table img {
  object-fit: contain;
}

/* Defined custom class in generate_circle_svg function to be able to modify the font size of the nanoplot text only */ 
div.html-fill-item.html-fill-container text:not(.circle-text) {
  font-size: 6em; /* This will exclude text elements with the 'circle-text' class */
}

/* Remove underline from hyperlinks*/
a {
  text-decoration: none;
  color: $link-color;
}

/* Bold navbar title */
.navbar-title {
  font-weight: bold;
}

/* Height of embedded Spotify Web Player */
.TrackWidget_widgetContainer__gADzr {
  height: 100vh !important;
}
div.html-fill-item.html-fill-container .custom-iframe {
  justify-content: center; /* Center the web player only, not the gt table */
}