/*-- scss:defaults --*/

$theme-text-color: white;

/*-- scss:rules --*/

/* Display options for tables */
table {
  display: block;
  max-width: 100%;
  overflow: auto;
}


/* Scrollbar theming */
::-webkit-scrollbar {
    width: 12px; /* Vertical scrollbar width */
    height: 12px; /* Horizontal scrollbar height */
}
::-webkit-scrollbar-track { /* Track (part the thumb slides within) */
    background: $brand-slate; 
    border-radius: 10px; /* Rounded corners on the track */
}
::-webkit-scrollbar-thumb { /* Thumb (draggable part of the scrollbar) */
    background-color: $brand-thistle-dark;
    border-radius: 10px; /* Rounded corners on the thumb */
    border: 3px solid $brand-slate; /* Makes the thumb slightly smaller than the track */
}
::-webkit-scrollbar-thumb:hover { /* Thumb hover effects */
    background-color: $brand-midnight;
}
::-webkit-scrollbar-corner { /* Bottom corner of the scrollbar */
    background: $brand-slate; /* Match the track background color */
}

/* Bold navbar title */
.navbar-title {
  font-weight: bold;
}


/* nanoplot text! Merci Melissa <3 */ 
div.html-fill-item.html-fill-container text:not(.circle-text) {
  font-size: 6em; /* This will exclude text elements with the 'circle-text' class */
}
